<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.georgeyu.MidiKerning</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MIDI Kerning</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string> <!-- 1.0 -->
	<key>CFBundleVersion</key>
	<string>0.1</string> <!-- 123 -->
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/georgeyjm/midi-kerning/main/MIDI%20Kerning.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/georgeyjm/midi-kerning</string>
	<key>productReleaseNotes</key>
	<string>Some great updates</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Jiaming (George) Yu, 2022</string>
	<key>NSPrincipalClass</key>
	<string>MidiKerning</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
